body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.btn.btn-outline-secondary {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  color: var(--bs-white);
  gap: 0.5rem;

  &:hover {
    background-color: var(--bs-gray-800);
  }
  &:active {
    background-color: var(--bs-gray-800);
  }
  &:focus {
    background-color: var(--bs-gray-800);
  }
}
